# Data Science and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List of popular languages for data science
* List of commonly used libraries for data science
* Table of data science tools

Some of the popular languages that Data Scientists use are:

* R Language
* Python
* SQL

Some of the commonly used libraries used by Data Scientists include:
* Pandas
* Seaborn
* Spark

| Data Science Tools |
| --- |
| MySQL |
| Hadoop |
| Apache AirFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author ##
Gregory Lawson